.app {
  display: flex;
  padding: 30px;
}

.app-btn_container {
  position: fixed;
  right: 20px;
}
.button {
  height: 70px;
  width: 70px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.right-btn {
  transform: rotate(360deg);
}
.left-btn {
  transform: rotate(180deg);
}
